# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
dist/
build/
*.spec

# Logs
*.log

# Environment variables
*.env
.env.*

# Pip
pip-log.txt
pip-delete-this-directory.txt